* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
header,
footer {
  background-color: rgb(44, 45, 45);
  color: rgb(246, 235, 235);
  padding: 20px;
  text-align: center;
}
h1:hover {
  color: orangered;
}
nav {
  text-align: center;
}
nav a {
  color: rgb(255, 253, 253);
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  margin: 0 10px;
}
nav a:hover {
  color: orange;
}
a {
  text-decoration: none;
  color: orange;
}
a:hover {
  color: orangered;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
}
tr:hover {
  background-color: orange;
}

main {
  padding: 20px;
}
section {
  margin: 60px 0;
}
img {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
}
img:hover {
  opacity: 60%;
}
p {
  text-align: center;
  width: 80%;
  margin: 20px auto;
}
h2 {
  text-align: center;
}
form {
  width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 400px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  display: block;
  width: 150px;
  padding: 10px;
  background: #3a3a3a;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
}

button:hover {
  background-color: orangered;
}
@media (max-width: 700px) {
  input,
  textarea {
    width: 60%;
  }

  button {
    width: 120px;
  }
  table {
    width: 100%;
    font-size: 14px;
  }
}
